.github/
.tipi/
cmake/
docs/
examples/
fuzzing/
include/
src/
tests/
toml-test/
tools/
vendor/
.clang-format
.editorconfig
.gitattributes
.gitmodules
.runsettings
.tipi
cpp.hint
toml++.code-workspace
toml++.natvis
toml++.props
toml++.sln
toml++.vcxproj
toml++.vcxproj.filters
